*, *::before, *::after{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(71, 67, 67), rgb(211, 102, 102));
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px); /* repeat 4 -> 4 colonnes */
    grid-template-rows: minmax(120px /*minimum*/, auto /*maximun */) repeat(5, 100px); /* repeat 5 -> 5 lignes */
}

.calculator-grid > button{ /* > -> tous les boutons qui sont dans cette div */
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75); /* .75 = de 75 % */
}

.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, .9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1; /* 1 = 1er colonne, -1 = dernière colonne */
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end; /* à droite */
    justify-content: space-around; 
    flex-direction: column; /* positioné verticalement au lieu d'horizontalement */
    padding: 10px;
    word-wrap: break-word; /* retourner à la ligne même si le mot n'est pas finit */
    word-break: break-all; /* casser tous les mots */
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}